{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "android >= 4.4"]
      },
      "loose": true,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
